nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  display: block;
  padding: 20px;
}

nav {
  display: inline-block;
}

body {
  width: 900px;
  margin: 0 auto;
}

section {
  width: 700px;
  display: inline-block;
  vertical-align: top;
}

aside {
  width: 180px;
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
}

header > img {
  width: 100px;
}

.ingredients-list > li,
.directions > li {
  margin: 15px 0;
}

label {
  display: block;
}

input[type="text"], select {
  display: block;
  width: 175px;
}

select {
  margin: 10px 0px;
  width: 180px;
}

input:last-child {
  background: gold;
}

textarea {
  width: 300px;
}
